button {
    margin:auto !important;
    display:block !important;
    margin-top: 10px !important;
}

.score {
    text-align: center !important;
}

.result {
    background-color: white;
    padding: 10px;
    border: orange solid 4px;
    border-radius: 10%;
}

.selectors {
    display: flex;
    flex-direction: row;
}

.selector-child {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}

.selector-child label {
    color: white;
    font-weight: 600;
}
.selector-child input {
    width: 160px;
    height: 25px;
    font-weight: 600;
    outline: none;
    background-color: rgb(210, 250, 158);
}

.selector-child select {
    width: 160px;
    height: 25px;
    font-weight: 600;
    outline: none;
    background-color: rgb(210, 250, 158);
}

#Category {
    width: 300px;
}

@media screen and (max-width: 825px) {
    .selectors {
        display: grid;
    } 
  }